* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    font: normal 1em Arial, Helvetica, sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}